[Desktop Entry]
Name=ArchiveBox
Type=Application
Exec=/usr/bin/chromium-browser --new-window --app="https://{{ hostinfo.taipei.archivebox }}"
GenericName={{ hostinfo.taipei.archivebox }}
Comment=Web archiving
Categories=Network;WebDevelopment;Archiving;
Keywords=archiving;internet archive;webapp;archivebox;
StartupWMClass=chromium-app-archivebox
Icon={{ desktop_icon.dest }}
Version=1.1
{# empty MimeType line just to suppress "lacks Mimetype" warning during update-desktop-database #}
MimeType=
