[Unit]
Description=ArchiveBox daemon

[Service]
User={{ ansible_env.USER }}
WorkingDirectory={{ archivebox_pwd }}
Environment=PATH={{ npm_config_prefix }}/bin:{{ ansible_env.HOME }}/.local/bin:/usr/local/bin:/usr/bin:/bin
ExecStart={{ ansible_env.HOME }}/.local/bin/archivebox server {{ archivebox_iface }}:{{ archivebox_port }}

[Install]
WantedBy=multi-user.target
